@import './_variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
}
.container__github__user__search {
    text-align: center;
    height: 70%;
    width: 700px;
    background-color: $black;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    
  }

  #light .App {
    background-color: white;
    color:black
  }
  
  #dark .App {
    background-color: $black;
    color:white
  }

  #light .container__github__user__search {
    background-color: white;
    color:black

  }
  
  #dark .container__github__user__search {
    background-color: $black;
    color:white

  }
  
  #light  {
    background-color: white;
    color:$black
  }
  
  #dark {
    background-color:$black;
    color:white;
  }
  
  